//archives
.browse-archives {
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      margin-right: 1.125rem;
    }
  }
}

//about
.post-216 .page .type-page .status-publish .hentry {
  &.entry-content {
    font-size: 1rem;
  }
}

//archive-category
.archive {
  .page-title,
  article {
    border-bottom: 1px dotted #fff;
    margin-top: 3rem;
    padding-bottom: 1.5rem;
  }
  .entry-content {
    font-size: 1.25rem;
    @include tablet {
      font-size: 1.75rem;
    }
    @include desktop {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.25rem;
    }
  }
  .page-numbers {
    padding: 0.5rem;
  }
}

//404
.error404 {
  h1.page-title {
    font-size: 2rem;
  }
  fieldset {
    border: none;
    padding-left: 0;
    &::after {
        font-family: 'FontAwesome';
        content: '\f002';
        font-size: 1rem;
        color: $color__site-main;
        padding: 0.5rem;
      }
  }
  input {
    &.search-field {
      border: 1px $color__site-main solid;
      width: 240px;
    }
  }
  .page-content {
    //   background: gold;
    button {
      background: coral;
      box-shadow: none;
      display: none;
    }
  }
}
